@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --site-color: #03619c;
  --orange-color: #ec4b06;
  --text-dark-color: #212121;
  --text-light-color: #6d6868;
  --hover-grey-color: #f5f5f5;
  --white-color: #ffffff;
  --dim-grey-color: #e5e5e5;
  --divider-color: rgba(0, 0, 0, 0.4);
  --container-width: 1142px;

  /* FONT FAMILY */

  --f-primary: "Roboto", sans-serif;
  --f-secondary: "Montserrat", sans-serif;
}

html {
  font: 100%/1.5 system-ui;
}

a {
  color: #424242;
  text-decoration-thickness: 2px;
}

a:hover {
  color: var(--site-color);
  text-decoration-color: currentcolor;
}

h1,
p {
  margin-bottom: 1.5rem;
}

code {
  font-family: "Menlo";
}

.container {
  width: 100%;
  margin: auto;
  background-color: var(--dim-grey-color);
}

.main-container {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.list {
  list-style: none;
}
