html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --site-color: #03619c;
  --orange-color: #ec4b06;
  --text-dark-color: #212121;
  --text-light-color: #6d6868;
  --white-color: #ffffff;
  --divider-color: rgba(0, 0, 0, 0.4);
  --container-width: 1142px;
}

html {
  font: 100%/1.5 system-ui;
}

a {
  color: #424242;
  text-decoration-thickness: 2px;
}

a:hover {
  color: var(--site-color);
  text-decoration-color: currentcolor;
}

h1,
p {
  margin-bottom: 1.5rem;
}

code {
  font-family: "Menlo";
}

.container {
  max-width: 1142px;
  width: 100%;
  margin: auto;
}
