html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --site-color: #03619c;
  --divider-color: rgba(0, 0, 0, 0.4);
}

html {
  font: 100%/1.5 system-ui;
}

a {
  color: #424242;
  text-decoration-thickness: 2px;
}

a:hover {
  color: var(--site-color);
  text-decoration-color: currentcolor;
}

h1,
p {
  margin-bottom: 1.5rem;
}

code {
  font-family: 'Menlo';
}
